{% extends "layout.html" %}

{% block title %}
    Buy Shares
{% endblock %}

{% block main %}
    <h2>Buy Shares</h2>
    <form action="{{ url_for('buy') }}" method="post">
        <div class="form-group">
            <label for="symbol">Symbol</label>
            <input type="text" name="symbol" id="symbol" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="shares">Shares</label>
            <input type="number" name="shares" id="shares" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
{% endblock %}
